services:
  db:
    image: postgres:16
    container_name: backend_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: movie_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend_network

  backend:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    container_name: backend_app
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/movie_db?schema=public
      NODE_ENV: production
    depends_on:
      - db
    ports:
      - "3000:3000"
    networks:
      - backend_network

  frontend:
    build:
      context: ./front-end-primi
      dockerfile: Dockerfile
    container_name: frontend_app
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - backend_network

volumes:
  db_data:

networks:
  backend_network:
    driver: bridge
